<% layout('layouts/boilerplate')%>
<h1>All Cars</h1>
<div>
    <h2> Welcome to Parking Lots </h2>
</div>
<% for (let car of cars){ %>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= car.id %> </h5>
                <p class="card-text"><%= car.year %></p>
                <p class="card-text"><%= car.make %></p>
                <p class="card-text"><%= car.model %></p>
                <p class="card-text"><%= car.type %></p>  
            </div>
        </div>
    </div>
</div>
<% }%>